@using MvcCv.Models.Entity
@model List<TBLyetenekler>



<div class="resume-section-content">
    <h2 class="mb-5">YETENEKLERİM</h2>
    <div class="subheading mb-3">PROGRAMLAMA DİLLERİ & ARAÇLAR</div>
    <ul class="list-inline dev-icons">

        <li class="list-inline-item"><img src="~/image/Yeteneklerim/c-sharp.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/social.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/sql-server.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/js.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/html-5.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/css-3.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/bootstrap.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/programming.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/Arduino_Logo.svg.png" style="height:50px;" /></li>
        <li class="list-inline-item"><img src="~/image/Yeteneklerim/code.png" style="height:50px;" /></li>


    </ul>
 
    <div class="subheading mb-3">Becerilerim</div>
    <ul class="fa-ul mb-0">
        @foreach (var item in Model)
        {
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                @item.Yetenek
            </li>

        }


    </ul>
</div>
