@using MvcCv.Models.Entity
@model List<TBLsosyalmedya>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <div class="wrapper mt-2">
        <section class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">Sosyal Medya Listem</h3>
                            </div>
                            <!-- /.card-header -->
                            <div class="card-body">
                         <button class="btn btn-info mb-2" data-toggle="modal" data-target="#Modal1">Yeni Sosyal Medya Hesabı Ekle</button>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th style="width: 10px">#</th>
                                            <th>Sosyal Medya</th>
                                            <th>Durum</th>
                                            <th>Düzenle</th>
                                            <th>Sil</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.ID</td>
                                                <td>@item.Ad</td>
                                                <td>@item.Durum</td>
                                                <td>
                                                    <a class="btn btn-info btn-sm" href="/SosyalMedya/SayfaGetir/@item.ID"><i class="fas fa-pencil-alt"></i>Güncelle</a>

                                                </td>
                                                <td>
                                                    <a class="btn btn-warning btn-sm" href="/SosyalMedya//@item.ID"><i class="fas fa-trash"></i>Pasif</a>

                                                </td>
                                            </tr>

                                        }

                                    </tbody>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="modal" id="Modal1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2 class="modal-title">Sosyal Medya Ekleme Paneli</h2>
                    </div>
                    <form method="post" action="/SosyalMedya/Ekle">
                        <div class="modal-body">
                            <label>Sosyal Medya İsmi</label>
                            <input type="text" class="form-control" name="Ad" />
                            <br />
                            <label>Sosyal Medya İcon</label>
                            <input type="text" class="form-control" name="ikon" />
                            <br />
                            <button class="btn btn-info">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

s

