@using MvcCv.Models.Entity
@model List<TBLsertifikalar>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{string renk = "";}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <a href="/Sertifika/YeniSertifika" class="btn btn-info mb-3">Yeni Sertifika Girişi</a>

                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    @foreach (var item in Model)
                                    {
                                        if (item.ID % 2 == 0)
                                        {
                                            renk = "bg-warning";

                                        }
                                        else
                                        {
                                            renk = "bg-success";
                                        }
                                        <div class="time-label">
                                            <span class="@renk">
                                                <a href="/Sertifika/SertifikaGüncelle/@item.ID" class="btn btn-success"> @item.Tarih</a>
                                               
                                            </span>
                                        </div>
                                        <div>

                                            <div class="timeline-item">
                                                <div class="timeline-body">
                                                    @item.Sertifikalar
                                                </div>

                                            </div>
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col


                -->
        </div>
        <!-- /.row -->
    </section>
</body>
</html>
