@using MvcCv.Models.Entity
@model List<TBLiletisim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini bg-black ">
    <div class="wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                    </div>
                    <div class="card-body">
                        <div class="tab-pane" id="timeline">
                            <div class="timeline timeline-inverse">


                                @foreach (var item in Model)
                                {<div>
                                        <i class="fas fa-comments bg-warning"></i>
                                        <div class="timeline-item">
                                            <span class="time"><i class="far fa-clock"></i> @(((DateTime)item.Tarih).ToString("dd MMM yyyy"))</span>
                                            <h3 class="timeline-header"><a href="mailto:@item.Mail">@item.Adsoyad</a> @item.Konu</h3>
                                            <div class="timeline-body">
                                                @item.Mesaj
                                            </div>
                                 
                                         
                                        </div>

                                    </div>
                                }
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>
